aiohttp
aiofiles
asyncio
dnspython
ffmpeg-python
hachoir
lyricsgenius
motor
numpy
pillow==9.5.0
psutil
python-dotenv
py-tgcalls==0.9.7
git+https://github.com/naya1503/pyrogram
requests
rich
speedtest-cli
tgcrypto
git+https://github.com/yt-dlp/yt-dlp.git
telethon
youtube-search
youtube-search-python
